#keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.keyboard-row {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(13, 60px [keyspot]);
}
.key {
  text-align: left;
  display: inline-block;
  height: 70px;
  width: 60px;
  border: 1px solid #444;
  border-radius: 5px;
  transition: background-color .15s linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*label styles*/
  padding-left: 7px;
  padding-top: 2px;
  color: #444;
  font-family: 'Poppins';
}

.key.highlight {
  background-color: #A9B4C2;
}

.active-row {
  display: grid;
}

.inactive-row {
  display: none;
}

.key-caption {
  font-size: 50%;
  max-width: 90%;
  overflow: hidden;
  line-height: 115%; 
  position: relative;
}

.op-caption {
  color: #7D98A1;
}

.mo-caption {
  color: #5E6572;
}
